.settings {
  .label {
    padding-right: 16px;
  }

  .separator {
    background-color: white;
    border-radius: 8px;
  }

  .scale2 {
    all: unset;
    padding: 0 8px;
  }

  .scale2 slider {
    all: unset;
    background-color: white;
    margin: -8px;
    min-height: 20px;
    min-width: 20px;
    border-radius: 50%;
    padding: 0;
    border: 1px solid black;
    color: red;
  }

  .scale2 highlight {
    all: unset;
    background-color: #8db312;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .scale2 trough {
    all: unset;
    background-color: black;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0;
  }
}
