.menu_widget_class {
  transition: all 200ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.6);

  .menu_option {
    color: white;
    font-family:
      JetBrains Mono,
      "sans-serif";
    font-size: 48px;

    button {
      color: white;

      &:hover {
        color: #fdfede;
      }
    }

    &:hover {
      color: #fdfede;
      background: linear-gradient(
        0deg,
        transparent,
        rgba(1, 42, 74, 0.6) 25%,
        rgba(1, 42, 74, 0.6) 75%,
        transparent
      );
    }
  }
}

.hidden_menu_widget_class {
  opacity: 0;
}
